@page
@model SpotifyR.DashboardModel
<div id="hide" class="hide-right">
    <h3 id="dash-recommend-h" class="abloh">recommendations</h3>
    <h4 id="dash-recommend-go" class="abloh">(click me!)</h4>
    <h4 id="dash-recommend-p" class="abloh">we found <span class="nonsense-number">@Model.RECOMM.Count</span> songs<br/>
    you may like<br/>
    from artists such as<br/><span class="nonsense-number">@Model.ArtistsNames</span></h4>
    <h3 id="dash-new-h" class="abloh">new releases</h3>
    <h4 id="dash-new-go" class="abloh invis">(click me!)</h4>
    <h4 id="dash-new-p" class="abloh">here's <span class="nonsense-number">@Model.NEW_RELEASES.Count</span> new songs from<br/>
    your favorite artists<br/> albums<br/>
    <span class="nonsense-number">@Model.AlbumsNames</span><br/> are finally here</h4>
</div>
<div id="left" class="section">
    <div class="grid-left">
        @for(var i=0;i<Model.NEW_RELEASES.Count;i+=2){
            var uri = Model.NEW_RELEASES[i].uri.Remove(0,14);
            <div class="grid-block">
                <div class="grid-block-inside">
                    <div class="grid-block-additional">
                        <div class="grid-block-left">
                            <h5 class="node-icon">&#x266b;</h5>
                            <h6 class="preview-h">PREVIEW</h6>
                        </div>
                        <div class="iframe-container">
                            <iframe src="https://open.spotify.com/embed/track/@uri" width="300" height="80"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                    <div class="grid-block-right">
                        <div class="grid-block-content">
                            @if(Model.NEW_RELEASES[i].name.Length > 37){
                                <div class="title-container scrollable">
                                    <h5>@Model.NEW_RELEASES[i].name</h5>
                                </div>
                            } else {
                                <div class="title-container">
                                    <h5>@Model.NEW_RELEASES[i].name</h5>
                                </div>
                            }
                            <div class="title-container">
                                <h6>@Model.NEW_RELEASES[i].artists[0].name</h6>
                            </div>
                            <div class="title-container">
                                <h6>@Model.NEW_RELEASES[i].album.name</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-block-bottom">
                </div>
            </div>
        }
    </div>
    <div class="grid-right">
        @for(var i=1;i<Model.NEW_RELEASES.Count;i+=2){
            var uri = Model.NEW_RELEASES[i].uri.Remove(0,14);
            <div class="grid-block">
                <div class="grid-block-inside">
                    <div class="grid-block-additional">
                        <div class="grid-block-left">
                            <h5 class="node-icon">&#x266b;</h5>
                            <h6 class="preview-h">PREVIEW</h6>
                        </div>
                        <div class="iframe-container">
                            <iframe src="https://open.spotify.com/embed/track/@uri" width="300" height="80"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                    <div class="grid-block-right">
                        <div class="grid-block-content">
                            @if(Model.NEW_RELEASES[i].name.Length > 37){
                                <div class="title-container scrollable">
                                    <h5>@Model.NEW_RELEASES[i].name</h5>
                                </div>
                            } else {
                                <div class="title-container">
                                    <h5>@Model.NEW_RELEASES[i].name</h5>
                                </div>
                            }
                            <div class="title-container">
                                <h6>@Model.NEW_RELEASES[i].artists[0].name</h6>
                            </div>
                            <div class="title-container">
                                <h6>@Model.NEW_RELEASES[i].album.name</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-block-bottom">
                </div>
            </div>
        }
    </div>
</div>
<div id="right" class="section">
    <div class="grid-left">
        @for(var i=0;i<Model.RECOMM.Count;i+=2){
            var uri = Model.RECOMM[i].uri.Remove(0,14);
            <div class="grid-block">
                <div class="grid-block-inside">
                    <div class="grid-block-additional">
                        <div class="grid-block-left">
                            <h5 class="node-icon">&#x266b;</h5>
                            <h6 class="preview-h">PREVIEW</h6>
                        </div>
                        <div class="iframe-container">
                            <iframe src="https://open.spotify.com/embed/track/@uri" width="300" height="80"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                    <div class="grid-block-right">
                        <div class="grid-block-content">
                            @if(Model.RECOMM[i].name.Length > 37){
                                <div class="title-container scrollable">
                                    <h5>@Model.RECOMM[i].name</h5>
                                </div>
                            } else {
                                <div class="title-container">
                                    <h5>@Model.RECOMM[i].name</h5>
                                </div>
                            }
                            <div class="title-container">
                                <h6>@Model.RECOMM[i].artists[0].name</h6>
                            </div>
                            <div class="title-container">
                                <h6>@Model.RECOMM[i].album.name</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-block-bottom">
                    <button class="like">&#10003;</button>
                    <span>r a t e</span>
                    <button class="hate">&#10007;</button>
                </div>
            </div>
        }
    </div>
    <div class="grid-right">
        @for(var i=1;i<Model.RECOMM.Count;i+=2){
            var uri = Model.RECOMM[i].uri.Remove(0,14);
            <div class="grid-block">
                <div class="grid-block-inside">
                    <div class="grid-block-additional">
                        <div class="grid-block-left">
                            <h5 class="node-icon">&#x266b;</h5>
                            <h6 class="preview-h">PREVIEW</h6>
                        </div>
                        <div class="iframe-container">
                            <iframe src="https://open.spotify.com/embed/track/@uri" width="300" height="80"
                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                    <div class="grid-block-right">
                        <div class="grid-block-content">
                            @if(Model.RECOMM[i].name.Length > 37){
                                <div class="title-container scrollable">
                                    <h5>@Model.RECOMM[i].name</h5>
                                </div>
                            } else {
                                <div class="title-container">
                                    <h5>@Model.RECOMM[i].name</h5>
                                </div>
                            }
                            <div class="title-container">
                                <h6>@Model.RECOMM[i].artists[0].name</h6>
                            </div>
                            <div class="title-container">
                                <h6>@Model.RECOMM[i].album.name</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-block-bottom">
                    <button class="like">&#10003;</button>
                    <span>r a t e</span>
                    <button class="hate">&#10007;</button>
                </div>
            </div>
        }
    </div>
</div>
@section styles{
    <link rel="stylesheet" href="~/dashboard.css" />
}
@section scripts{
    <script>
        $(document).ready(function(){
            $("#hide").find(".nonsense-number").addClass("load");
            $("#dash-recommend-h").click(function(){
                $("#dash-new-go").removeClass("invis");
                $("#dash-recommend-go").addClass("invis");
                $("#hide").removeClass("hide-right");
                $("#hide").addClass("hide-left");
            })
            $("#dash-new-h").click(function(){
                $("#dash-recommend-go").removeClass("invis");
                $("#dash-new-go").addClass("invis");
                $("#hide").removeClass("hide-left");
                $("#hide").addClass("hide-right");
            })
        });
    </script>
}